$titlefont: "Jockey One";
//$titlefont: "Archivo Black";
$regularfont: "Archivo Narrow";
$bodytextsize: 16px;
$mainbgcolour: rgba(255,255,255,0.95);
$linecolour: rgba(1,1,1,0.05);
$segmentbg: rgba(1,1,1,0.02);

@mixin pagewidth() {
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
}

body {
	background-color:#ff4080;
    //background-image:url("http://image.shutterstock.com/display_pic_with_logo/255379/255379,1298395185,2/stock-photo-abstract-background-of-magic-burst-with-rays-of-light-71727616.jpg");
    background-image:url("li-sqr2bv.png");
    background-size:100% auto;
    background-attachment: fixed;
    background-position:center;
    font-size: $bodytextsize;
	margin:20px;
	font-family:$regularfont;
    height:100%;
}
@media (max-aspect-ratio:4608/3702) {
    body {
        background-size:auto 100%;
    }
}
#globalWrapper {
    @include pagewidth();
	position:relative;
    margin-top:50px;
}

#column-one h2{ 
	display:none;
}

#column-content {
    background-color: $mainbgcolour;
    padding:20px;
    box-shadow:0px 1px 3px -1px rgba(0,0,0,0.4);

}

#content {
    padding-bottom:30px;
}

a{
    text-decoration:none;
    &:hover{
        text-decoration:underline;
    }
}

#toc {
    border:1px solid $linecolour;
    background-color:$segmentbg;
    display:table;
    padding:10px;
    position:relative;
    margin-top:20px;
    .toctoggle {
        position:absolute;
        top:11px;
        right:8px;
        a {
            text-decoration:none;
        }
    }
    h2 {
        font-family:$regularfont;
        margin:0;border:0;font-size:18px;
        padding-right:60px; // to account for the hide link
    }
    ul {
        margin-left:25px;
    }
}


#bodyContent {
    margin-bottom:20px;
}

#catlinks { //meow
    padding:10px;
    margin-top:30px;
    border:1px solid $linecolour;
    background-color:$segmentbg;
}

h1,h2,h3,h4 {
    font-family:$titlefont;
    font-weight:700;
}
h1 {
    //border-bottom: 1px solid $linecolour;
	font-size:50px;
    text-align:center;
}
h2 {
    border-bottom: 1px solid $linecolour;
	font-size:30px;
}
h3 {
	font-size:25px;
    xxxmargin:20px 0 5px 0;
}
h4 {
	font-size:20px;
    xxxmargin:20px 0 5px 0;
}

button, input[type=submit] {
    background-color:rgba(0,0,0,0.8);
    color:white;
    border:none;
    font-family:$titlefont;
}

.mw-editsection {
    font-family:$regularfont;
    a {
        text-decoration:none;
    }
}

@mixin toolstylin()
{
    border-right:30px solid rgba(40,160,255,0.5);
    white-space:nowrap;
    background-color:rgba(40,160,255,0.8);
    text-align:right;
    box-shadow:0px 1px 3px -1px rgba(0,0,0,0.4);
    padding:0;margin:0;list-style:none;
    ul,li {
        padding:0;margin:0;list-style:none;
    }
    a {
        font-size:14px;
        color:white;
        display:block;
        padding:0px 10px 0px 30px;
        line-height:30px;
        text-decoration:none;
        &:hover {
            background-color:rgba(40,160,255,0.5);
        }
    }
}


#toolbox {
    position:absolute;
    top:32px;
    right:2px;
    display:block;
    width:30px;height:30px;
    text-align:center;
    line-height:30px;
    font-size:20px;
    font-weight:bold;
    text-decoration:none;
    background-color:rgb( 40,160,255);
    color:white;
    z-index:420;
}

#tools {
    @include toolstylin();
    display:none;
    position:absolute;
    right:2px;
    top:32px;
}

#toolbox:hover~#tools,#tools:hover{
    display: block;
}


$topmenufont: $titlefont;
$topmenufontsize:16px;
$topmenuheight: $topmenufontsize + 10px;

#topbar {
    font-family:$topmenufont;
    font-size:$topmenufontsize;
    line-height:$topmenuheight;
    position:absolute;
    top:-50px;left:-20px;right:-20px;
    background-color:rgba(0,0,0,0.8);
    color:white;
}



// aah
// fuckin
// aint no sidebar anymore son
// STEALING SOME TOOLBOX STYLES YOU CAN HAVE EM BACK LATER
.generated-sidebar {
    display:inline;
    float:left;
    h3 {
        font-size:$topmenufontsize;
        line-height:$topmenuheight;
        padding: 0 5px;
        font-weight:normal;
        &:hover {
            background-color:rgba(40,160,255,0.8);
            color:white;
        }
        margin:0;
    }
    // Need to be able to select PRECEDING elements to make this work ;_;
    // ~ only selects following ones
    .pBody:hover~h3{
        background-color:rgba(40,160,255,0.8);
        color:white;
    }
    .pBody {
        @include toolstylin();
        font-family:$regularfont;
        position:absolute;
        display:none;
        z-index:420;
    }
    h3:hover~.pBody,.pBody:hover{
        display: block;
    }
}

.portlet#p-personal {
    float:right;
	text-align:right;
    ul,li,div {
        display:inline;padding:0;margin:0;list-style:none;
    }
    h3 {
        display:none;
    }
    a {
        color:white;text-decoration:none;padding:2px 5px 2px 0;
    }
}
/*
// Maybe reapply these old styles IF theres only one topbar item
.portlet#p-navigation {

    ul,li,div {
        display:inline;padding:0;margin:0;list-style:none;
    }
    h3 {
        display:none;
    }
    a {
        color:white;text-decoration:none;padding:2px 0 2px 5px;
    }
}
*/

$pageactionfont: $regularfont;
$pageactionfontsize: 20px;
$pageactionheight: $pageactionfontsize + 10px;
.portlet#p-cactions{
    font-family:$pageactionfont;
    font-size:$pageactionfontsize;
    line-height:$pageactionheight;
    position:relative;
	/*zzzposition:absolute;
	top:-$pageactionheight;left:4px;*/
    padding-left:4px;
	white-space:nowrap;
    ul,li,div {
        display:inline;padding:0;margin:0;list-style:none;
    }
    h3 {
        display:none;
    }
    a {
        color:rgba(255,255,255,0.7);
        height:$pageactionheight;line-height:$pageactionheight;
        display:inline-block;
        text-decoration:none;
        padding:0px 3px;
        &:hover {
            color:rgba(255,255,255,0.9);
        }
    }
    .selected a {
        color:rgba(255,255,255,1);
        font-weight:700;
    }
    [id^=ca-nstab], #ca-talk {
        a {
            background-color:rgba(221,221,221,0.9);
            padding: 0px 6px;
            color:rgba(0,0,0,0.8);
            &:hover {
                background-color:rgba(238,238,238,0.9);
                color:rgba(0,0,0,0.9);
            }
        }
        &.selected a {
            background-color:rgba(255,255,255,0.9);
            color:rgba(0,0,0,1);
            &:hover {
                background-color:rgba(255,255,255,0.9);
            }
        }
    }

}

.portlet#p-search {
    float:right;
    position:absolute;right:20px;top:-10px;
    h3{
        display:none;
    }

}

.portlet#p-tb {
	position:absolute;
	bottom:28px;right:20px;
	text-align:right;
	font-size:14px;
    h3 {
        display:none;
    }
    ul, li {
        margin:0;padding:0;list-style:none;display:inline;
    }
    li:after {
        content:" - ";
    }
    li:last-child:after {
        content:"";
    }
    a{
        text-decoration:none;
    }
}
.portlet#p-lang {
    float:left;
    padding-top:10px;
    padding-bottom:10px;
	h3,li,ul,div {
        display:inline;padding:0;margin:0;list-style:none;

    }
    h3 {
        font-family:$regularfont;
        font-size:$bodytextsize;
        display:none;
    }
    li {
        padding-right:5px;
    }
}

#lastmod {
    float:right;
    font-size:13px;
    color:#aaa;
    font-style:italic;
    text-shadow:none;
    padding-bottom:10px;
    padding-top:10px;
}


#footer {
	@include pagewidth();
    padding: 30px 0 10px 0;
    color:rgba(255,255,255,0.7);
    text-align:center;
    li,ul {
        display:inline;font-size:13px;padding:0;margin:0;list-style:none;
    }
    li#copyright {
        display:block;
    }
    a {
        color:rgba(255,255,255,0.9);
        text-decoration:none;
        &:hover {
          color:rgba(255,255,255,1);
        }
    }
    img,#viewcount {
      display:none;
    }
}