
body {
	background-color:#ff4080;
	margin:20px;
	font-family:Roboto;
}
#globalWrapper {
	background-color:white;
	padding:20px;
	margin-top:80px;
	position:relative;
	zzzbox-shadow:0px 2px 4px 1px rgba(0,0,0,0.3);
}

#column-one h2{ 
	display:none;
}

#column-content {
	margin-bottom:50px;
}

h1,h2 {
	font-family:"Pathway Gothic One";
	border-bottom: 1px solid #eee;
	font-weight:normal;
}
h1 {
	font-size:40px;
}
h2 {
	font-size:30px;
}

#toolbox {
    position:absolute;
    top:2px;
    right:2px;
    display:block;
    width:30px;height:30px;
    text-align:center;
    line-height:30px;
    font-size:20px;
    font-weight:bold;
    text-decoration:none;
    background-color:rgb(100,200,255);
    color:white;
    oxpacity:0.5;
    z-index:420;
}

#tools {
    display:none;
    position:absolute;
    right:2px;
    top:-14px;
    border-right:30px solid rgba(100,200,255,0.5);
    white-space:nowrap;
    padding-right:5px;
    background-color:rgba(100,200,255,0.8);
    text-align:right;
}

#tools ul, #tools li {
    padding:0;margin:0;list-style:none;
}
#tools a {
    font-size:14px;
    color:white;
    text-decoration:none;
}
#toolbox:hover~#tools,#tools:hover{
    display: block;
}

.portlet#p-personal {
	position:absolute;
	top:-80px;left:-20px;right:-20px;
	wxidth:100%;
	background-color:black;
	color:white;
	text-align:right;
}
.portlet#p-personal ul,.portlet#p-personal li,.portlet#p-personal div {
	display:inline;padding:0;margin:0;list-style:none;
}
.portlet#p-personal h3 {
	display:none;
}

.portlet#p-personal a {
	color:white;text-decoration:none;padding:2px 2px 2px 0;
}

.portlet#p-navigation {
	position:absolute;
	top:-80px;left:-20px;
	background-color:black;
	color:white;
}
.portlet#p-navigation ul,.portlet#p-navigation li,.portlet#p-navigation div {
	display:inline;padding:0;margin:0;list-style:none;
}
.portlet#p-navigation h3 {
	display:none;
}


.portlet#p-navigation a {
	color:white;text-decoration:none;padding:2px 2px 2px 0;
}

.portlet#p-cactions{
	position:absolute;
	top:-25px;left:0px;
	white-space:nowrap;
}
.portlet#p-cactions ul,.portlet#p-cactions li,.portlet#p-cactions div {
	display:inline;padding:0;margin:0;list-style:none;
}
.portlet#p-cactions h3 {
	display:none;
}
.portlet#p-cactions a {
	height:25px;line-height:25px;
	display:inline-block;
	text-decoration:none;
	padding:0px 3px;
}

.portlet#p-cactions #ca-nstab-main a, .portlet#p-cactions #ca-talk a , .portlet#p-cactions #ca-nstab-special a {
	background-color:#ddd;
		padding: 0px 6px;
}
.portlet#p-cactions .selected#ca-nstab-main a, .portlet#p-cactions .selected#ca-talk a , .portlet#p-cactions .selected#ca-nstab-special a {
	background-color:#fff;
}
.portlet#p-cactions #ca-nstab-main a:hover, .portlet#p-cactions #ca-talk a:hover, .portlet#p-cactions #ca-nstab-special a:hover {
	background-color:#eee;
}
.portlet#p-cactions .selected#ca-nstab-main a:hover, .portlet#p-cactions .selected#ca-talk a:hover, .portlet#p-cactions .selected#ca-nstab-special a:hover {
	background-color:#fff;
}
.portlet#p-search h3{
 display:none;
}
.portlet#p-search {
 position:absolute;right:20px;top:-40px;
}

.portlet#p-tb {
	position:absolute;
	bottom:28px;right:20px;
	text-align:right;
	font-size:14px;
}
.portlet#p-tb h3 {
	display:none;
}
.portlet#p-tb ul, .portlet#p-tb li {
	margin:0;padding:0;list-style:none;display:inline;
}

.portlet#p-tb li:after {
	content:" - ";
}

.portlet#p-tb li:last-child:after {
	content:"";
}

.portlet#p-tb a{
	text-decoration:none;
}

#footer {
	position:absolute; left:0;right:0; bottom:-80px; color:white; text-align:center;
}
#footer * {
	display:inline;font-size:13px;padding:0;margin:0;list-style:none;
}
#footer li#lastmod {
	position:absolute;
	right:20px; top:-70px;;
	color:grey;
}
#footer li#copyright {
	display:block;
}
#footer a {
	color:white;
}
#footer img,#footer #viewcount {
	display:none;
}