@charset "UTF-8";
@keyframes slidedown {
  from {
    max-height: 0;
  }
  to {
    max-height: 1000px;
  }
}
body {
  min-width: 245px;
  background-color: #ff5080;
  background-image: url("bg.jpg");
  background-size: 100% auto;
  background-attachment: fixed;
  background-position: center;
  font-size: 16px;
  margin: 20px;
  font-family: "Archivo Narrow", Arial, sans-serif;
  height: 100%;
}

@media (max-aspect-ratio: 16 / 9) {
  body {
    background-size: auto 100%;
  }
}
#globalWrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 50px;
}

#column-one h2 {
  display: none;
}

#column-content {
  clear: both;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 20px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.4);
}

#content {
  overflow-x: auto;
  padding-bottom: 30px;
}
#content button, #content input[type=submit], #content input[type=button] {
  margin: 10px 0;
}
#content * {
  max-width: 100%;
}
#content img {
  height: auto;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a img {
  border: none;
}

#bodyContent {
  margin-bottom: 20px;
}
#bodyContent #siteSub, #bodyContent #contentSub, #bodyContent #contentSub2 {
  font-size: 90%;
  font-style: italic;
  margin-bottom: 10px;
  text-align: center;
}
#bodyContent #siteSub {
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  top: -20px;
}
#bodyContent #siteSub:before, #bodyContent #siteSub:after {
  content: " - ";
}
#bodyContent .usermessage {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 5px 10px;
  display: block;
  clear: both;
  background-color: #ffd080;
  border: 1px solid #ffb133;
}
#bodyContent ol, #bodyContent ul {
  margin: 5px 0 5px 30px;
  padding: 0 0 0 0;
}
#bodyContent ol li, #bodyContent ul li {
  margin-top: 5px;
  margin-bottom: 5px;
}
#bodyContent .tleft, #bodyContent .floatleft {
  float: left;
  clear: left;
  margin-left: 5px;
}
#bodyContent .tright, #bodyContent .floatright {
  float: right;
  clear: right;
  margin-left: 5px;
}

table.wikitable {
  border: 1px solid rgba(1, 1, 1, 0.05);
  background-color: rgba(1, 1, 1, 0.02);
}
table.wikitable th, table.wikitable td {
  border: 1px solid rgba(1, 1, 1, 0.05) !important;
}
table.wikitable th {
  background-color: rgba(0, 0, 0, 0.042) !important;
}

#filetoc {
  margin: 0 0 10px 0 !important;
  padding: 2px 5px;
  border: 1px solid rgba(1, 1, 1, 0.05) !important;
  background-color: rgba(1, 1, 1, 0.02) !important;
}
#filetoc li {
  display: inline-block;
  margin: 5px 15px;
  padding: 0;
}

#toc {
  border: 1px solid rgba(1, 1, 1, 0.05);
  background-color: rgba(1, 1, 1, 0.02);
  display: table;
  padding: 10px;
  position: relative;
  margin-top: 20px;
}
#toc .toctoggle {
  position: absolute;
  top: 11px;
  right: 8px;
}
#toc .toctoggle a {
  text-decoration: none;
}
#toc h2 {
  font-family: "Archivo Narrow", Arial, sans-serif;
  margin: 0;
  border: 0;
  font-size: 18px;
  padding-right: 60px;
  line-height: normal;
}
#toc ul {
  margin: 0 !important;
  list-style: none;
  padding-left: 10px !important;
}
#toc ul ul {
  margin: 0 !important;
  margin-bottom: 5px !important;
}
#toc ul ul ul {
  margin-bottom: 0 !important;
}
#toc .tocnumber:after {
  content: ".";
}

#catlinks {
  padding: 10px 10px 10px 30px;
  margin-top: 30px;
  border: 1px solid rgba(1, 1, 1, 0.05);
  background-color: rgba(1, 1, 1, 0.02);
}
#catlinks > div > a {
  display: inline-block;
  margin-left: -20px;
}
#catlinks ul {
  display: inline;
  list-style: none;
  margin: 0;
}
#catlinks li {
  border: 0;
  padding: 0 1px;
  margin: 0 !important;
  line-height: 22px;
  display: inline;
}
#catlinks li:after {
  padding-left: 2px;
  content: " ★ ";
  color: rgba(0, 0, 0, 0.25);
}
#catlinks li:last-child:after {
  padding: 0;
  content: "";
}

.catlinks-allhidden {
  display: none;
}

.main-heading-action {
  font-weight: normal;
  font-size: 80%;
}

.main-heading-whole-prefix {
  display: inline-block;
  margin-right: 8px;
}

.main-heading-chain-separator {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
}

h1, h2, h3, h4 {
  font-family: "Jockey One", Arial, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 50px;
  line-height: 50px;
  text-align: center;
}

@media (max-width: 500px) {
  h1 {
    font-size: 10vw;
    line-height: 10vw;
  }
}
@media (max-width: 300px) {
  h1 {
    font-size: 30px;
    line-height: 30px;
  }
}
h2 {
  border-bottom: 1px solid rgba(1, 1, 1, 0.05);
  overflow: hidden;
  padding-bottom: 6px;
  font-size: 30px;
  line-height: 30px;
  margin-top: 25px;
  margin-bottom: 20px;
}

h3 {
  font-size: 25px;
  line-height: 25px;
  margin-top: 25px;
  margin-bottom: 18px;
}

h4 {
  font-size: 20px;
  line-height: 20px;
  margin-top: 25px;
  margin-bottom: 18px;
}

textarea#wpTextbox1 {
  width: 100%;
  box-sizing: border-box;
}

textarea {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
}

input, select, button {
  font-family: "Archivo Narrow", Arial, sans-serif;
  font-size: 16px;
}

button, input[type=submit], input[type=button] {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
  font-family: "Jockey One", Arial, sans-serif;
}

fieldset {
  border: 1px solid rgba(1, 1, 1, 0.05);
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
fieldset legend {
  font-weight: bold;
  font-size: 110%;
}

hr {
  border: 0;
  border-bottom: 1px solid rgba(1, 1, 1, 0.05);
  margin: 40px 0;
}

.mw-ui-container {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.mw-editsection {
  font-family: "Archivo Narrow", Arial, sans-serif;
}
.mw-editsection a {
  text-decoration: none;
}

.mw-warning-with-logexcerpt {
  border: 1px solid pink !important;
  background-color: #ffe6ea !important;
  padding: 5px !important;
  margin-bottom: 10px !important;
}
.mw-warning-with-logexcerpt ul {
  margin-bottom: 10px !important;
}

ul#pagehistory {
  margin: 10px 0 !important;
  padding: 0;
  list-style: none;
}
ul#pagehistory li {
  padding: 2px 4px;
  margin: 5px 0;
}

ul#preftoc {
  margin: 0;
  padding: 0;
}
ul#preftoc li {
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 0;
}
ul#preftoc li.selected {
  font-weight: bold;
}

.portlet#p-tb {
  position: relative;
  float: right;
  top: -10px;
  right: -10px;
}
.portlet#p-tb h3 {
  font-family: "Archivo Narrow", Arial, sans-serif;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 0;
  font-weight: bold;
  text-decoration: none;
  background-color: #28a0ff;
  color: white;
  z-index: 1000;
  margin: 0;
  padding: 0;
  cursor: default;
  background-image: url("icons/tools.png");
  background-position: Center center;
  background-size: 19px auto;
  background-repeat: no-repeat;
}
.portlet#p-tb #tools {
  z-index: 999;
  right: 0;
  top: 0;
  white-space: nowrap;
  background-color: rgba(40, 160, 255, 0.8);
  text-align: right;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.4);
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Archivo Narrow", Arial, sans-serif;
  position: absolute;
  display: none;
  border-right: 30px solid rgba(40, 160, 255, 0.5);
  text-align: right;
}
.portlet#p-tb #tools ul, .portlet#p-tb #tools li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.portlet#p-tb #tools a {
  font-size: 14px;
  color: white;
  display: block;
  line-height: 30px;
  text-decoration: none;
}
.portlet#p-tb #tools a:hover {
  background-color: rgba(40, 160, 255, 0.5);
}
.portlet#p-tb #tools a {
  padding: 0 10px 0 30px;
}
.portlet#p-tb #tools .feedlink {
  background-position: 10px center;
}
.portlet#p-tb h3:hover ~ .pBody #tools {
  animation-name: slidedown;
  animation-duration: 0.5s;
  display: block;
  overflow: hidden;
}
.portlet#p-tb .pBody #tools:hover {
  display: block;
  overflow: hidden;
}

#topbar {
  font-family: "Jockey One", Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin: -50px -20px 24px -20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
#topbar:after {
  display: block;
  clear: both;
  content: "";
}

.generated-sidebar, .portlet#p-personal {
  display: inline;
}
.generated-sidebar .pseudo-header, .portlet#p-personal .pseudo-header {
  display: block;
}
.generated-sidebar h3, .portlet#p-personal h3 {
  cursor: default;
}
.generated-sidebar h3, .generated-sidebar .pseudo-header, .portlet#p-personal h3, .portlet#p-personal .pseudo-header {
  font-size: 16px;
  line-height: 26px;
  padding: 0 5px 1px 5px;
  font-weight: normal;
  margin: 0 0 0 0;
}
.generated-sidebar h3:hover, .generated-sidebar .pseudo-header:hover, .portlet#p-personal h3:hover, .portlet#p-personal .pseudo-header:hover {
  background-color: rgba(40, 160, 255, 0.8);
  color: white;
}
.generated-sidebar .single-item-header, .portlet#p-personal .single-item-header {
  display: none;
}
.generated-sidebar:hover h3, .generated-sidebar:hover .pseudo-header, .portlet#p-personal:hover h3, .portlet#p-personal:hover .pseudo-header {
  background-color: rgba(40, 160, 255, 0.8);
  color: white;
}
.generated-sidebar .pBody, .portlet#p-personal .pBody {
  z-index: 420;
}
.generated-sidebar .pseudo-header:hover ~ .pBody, .generated-sidebar h3:hover ~ .pBody, .portlet#p-personal .pseudo-header:hover ~ .pBody, .portlet#p-personal h3:hover ~ .pBody {
  animation-name: slidedown;
  animation-duration: 0.5s;
  display: block;
  overflow: hidden;
}
.generated-sidebar .pBody:hover, .portlet#p-personal .pBody:hover {
  display: block;
  overflow: hidden;
}
.generated-sidebar a, .portlet#p-personal a {
  color: white;
}
.generated-sidebar a:hover, .portlet#p-personal a:hover {
  text-decoration: none;
}

.generated-sidebar {
  float: left;
}
.generated-sidebar .pBody {
  white-space: nowrap;
  background-color: rgba(40, 160, 255, 0.8);
  text-align: right;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.4);
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Archivo Narrow", Arial, sans-serif;
  position: absolute;
  display: none;
  border-left: 30px solid rgba(40, 160, 255, 0.5);
  text-align: left;
}
.generated-sidebar .pBody ul, .generated-sidebar .pBody li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.generated-sidebar .pBody a {
  font-size: 14px;
  color: white;
  display: block;
  line-height: 30px;
  text-decoration: none;
}
.generated-sidebar .pBody a:hover {
  background-color: rgba(40, 160, 255, 0.5);
}
.generated-sidebar .pBody a {
  padding: 0 30px 0 10px;
}

.portlet#p-personal {
  background-color: rgba(255, 255, 255, 0.15);
  float: right;
}
.portlet#p-personal .pBody {
  white-space: nowrap;
  background-color: rgba(40, 160, 255, 0.8);
  text-align: right;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.4);
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Archivo Narrow", Arial, sans-serif;
  position: absolute;
  display: none;
  border-right: 30px solid rgba(40, 160, 255, 0.5);
  text-align: right;
  right: -20px;
}
.portlet#p-personal .pBody ul, .portlet#p-personal .pBody li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.portlet#p-personal .pBody a {
  font-size: 14px;
  color: white;
  display: block;
  line-height: 30px;
  text-decoration: none;
}
.portlet#p-personal .pBody a:hover {
  background-color: rgba(40, 160, 255, 0.5);
}
.portlet#p-personal .pBody a {
  padding: 0 10px 0 30px;
}
.portlet#p-personal .pseudo-header #pt-userpage:before, .portlet#p-personal .pseudo-header #pt-anonuserpage:before {
  display: inline-block;
  width: 20px;
  background-image: url("icons/user.png");
  background-size: 15px auto;
  background-position: center;
  background-repeat: no-repeat;
  content: "_";
  color: rgba(255, 255, 255, 0);
  margin-right: 3px;
}

#headbar {
  position: relative;
}

#siteNotice {
  margin-top: -20px;
  margin-bottom: 20px;
  padding: 5px 10px;
  display: block;
  clear: both;
  background-color: #FFC0CB;
  border: 1px solid #ffa5ac;
}

.portlet#p-search {
  margin-top: 17px;
  float: right;
  position: relative;
}
.portlet#p-search h3 {
  display: none;
}
.portlet#p-search #power-search-densetsu {
  right: 0;
  top: -16px;
  position: absolute;
  color: black;
  display: block;
  font-size: 12px;
  text-align: right;
  padding-top: 2px;
}

.portlet#p-logo {
  max-width: 100%;
  font-family: "Jockey One", Arial, sans-serif;
}
.portlet#p-logo #textonly-wiki-name {
  font-size: 70px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.portlet#p-logo a {
  color: white;
}
.portlet#p-logo a:hover {
  text-decoration: none;
}
.portlet#p-logo img {
  max-width: 100%;
  max-height: 100px;
}

.portlet#p-cactions {
  float: left;
  font-family: "Archivo Narrow", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  padding-top: 17px;
  padding-left: 4px;
  white-space: nowrap;
  overflow-x: auto;
  box-sizing: border-box;
  max-width: 100%;
}
.portlet#p-cactions ul, .portlet#p-cactions li, .portlet#p-cactions div {
  display: inline;
  padding: 0;
  margin: 0;
  list-style: none;
}
.portlet#p-cactions li {
  margin-right: 4px;
}
.portlet#p-cactions h3 {
  display: none;
}
.portlet#p-cactions a {
  color: rgba(255, 255, 255, 0.7);
  height: 30px;
  line-height: 30px;
  display: inline-block;
  text-decoration: none;
  padding: 0 3px;
}
.portlet#p-cactions a:hover {
  color: rgba(255, 255, 255, 0.9);
}
.portlet#p-cactions .selected a {
  color: white;
  font-weight: 700;
}
.portlet#p-cactions [id^=ca-nstab] a, .portlet#p-cactions #ca-talk a {
  background-color: rgba(221, 221, 221, 0.9);
  padding: 0 6px;
  color: rgba(0, 0, 0, 0.8);
}
.portlet#p-cactions [id^=ca-nstab] a:hover, .portlet#p-cactions #ca-talk a:hover {
  background-color: rgba(238, 238, 238, 0.9);
  color: rgba(0, 0, 0, 0.9);
}
.portlet#p-cactions [id^=ca-nstab].selected a, .portlet#p-cactions #ca-talk.selected a {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}
.portlet#p-cactions [id^=ca-nstab].selected a:hover, .portlet#p-cactions #ca-talk.selected a:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.portlet#p-lang {
  float: left;
  padding: 0;
}
.portlet#p-lang h3, .portlet#p-lang li, .portlet#p-lang ul, .portlet#p-lang div {
  display: inline;
  padding: 0;
  margin: 0;
  list-style: none;
}
.portlet#p-lang h3 {
  font-family: "Archivo Narrow", Arial, sans-serif;
  font-size: 16px;
  display: none;
}
.portlet#p-lang li {
  padding-right: 5px;
}

@media screen {
  #jump-to-nav {
    /* Negate #contentSub margin */
    margin-top: -1.4em;
    margin-bottom: 1.4em;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .mw-jump, #jump-to-nav {
    overflow: hidden;
    height: 0;
    zoom: 1;
  }
}
@media print {
  .mw-jump, #jump-to-nav {
    display: none;
  }
}
@media not print {
  .printfooter {
    display: none;
  }
}
#lastmod, #viewcount {
  float: right;
  clear: right;
  font-size: 13px;
  color: #aaa;
  font-style: italic;
  text-shadow: none;
  padding: 0;
}

#post-body-stuff {
  clear: both;
  padding-bottom: 10px;
}
#post-body-stuff:after {
  clear: both;
  content: "";
  display: block;
}

#footer {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0 10px 0;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}
#footer li, #footer ul {
  display: inline-block;
  font-size: 13px;
  padding: 0;
  margin: 0;
  list-style: none;
}
#footer li#copyright, #footer li#self-aggrandisement {
  display: block;
}
#footer a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}
#footer a:hover {
  color: white;
}

.wikiEditor-ui, .wikiEditor-ui-controls, .wikiEditor-ui-buttons {
  background-color: transparent !important;
}

.wikiEditor-ui {
  overflow: hidden;
}

.wikiEditor-ui-tabs div a {
  padding: 0 0.4em !important;
}

.smwb-factbox, .smwb-ifactbox {
  border: none !important;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-collapse: collapse;
}
.smwb-factbox tr, .smwb-ifactbox tr {
  border: none !important;
  background-color: transparent !important;
}
.smwb-factbox tr.smwb-propvalue, .smwb-ifactbox tr.smwb-propvalue {
  background-color: rgba(1, 1, 1, 0.02) !important;
}
.smwb-factbox tr.smwb-propvalue th, .smwb-factbox tr.smwb-propvalue td, .smwb-ifactbox tr.smwb-propvalue th, .smwb-ifactbox tr.smwb-propvalue td {
  border: 1px solid rgba(1, 1, 1, 0.05) !important;
  padding: 5px 10px !important;
}
.smwb-factbox td, .smwb-factbox th, .smwb-ifactbox td, .smwb-ifactbox th {
  background-color: transparent !important;
  border: none !important;
}
.smwb-factbox .smwb-title, .smwb-ifactbox .smwb-title {
  font-family: "Jockey One", Arial, sans-serif;
}

.comments-body p {
  margin: 0;
}
.comments-body .c-spy {
  float: right;
  margin-top: 5px;
}
.comments-body .c-item.full {
  width: auto;
}
.comments-body .c-item.reply {
  width: auto;
  margin-top: -5px;
}
.comments-body .c-item {
  clear: both;
  border: 0;
  border-left: 10px solid rgba(1, 1, 1, 0.02);
  background-color: rgba(1, 1, 1, 0.02);
  padding: 10px;
}
.comments-body .c-item .c-avatar {
  position: relative;
  float: left;
}
.comments-body .c-item .c-avatar img {
  margin-right: 10px;
}
.comments-body .c-item .c-container {
  margin-left: 0 !important;
}
.comments-body .c-item .f-message, .comments-body .c-item .r-message {
  width: auto;
}
.comments-body .c-item .c-actions {
  margin: 0;
}
.comments-body .c-item .c-user p, .comments-body .c-item .c-user div {
  display: inline-block;
}
.comments-body .c-user a {
  font-size: 15px;
}
.comments-body .c-user-level {
  margin-right: 2px;
}
.comments-body .c-time, .comments-body .c-actions, .comments-body .c-spy {
  font-size: 13px;
}
.comments-body .cleared {
  clear: both;
}
.comments-body .c-order {
  padding: 0;
}
.comments-body form {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.comments-body form .c-form-title {
  float: left;
}
.comments-body form .c-form-reply-to {
  float: right;
}
.comments-body form .c-form-message {
  width: auto;
  clear: both;
}
.comments-body form textarea#comment {
  clear: both;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.comments-body form .c-form-button {
  text-align: center;
}
.comments-body form p {
  margin: 0;
}
