$titlefont: "Archivo Black";
$regularfont: "Archivo Narrow";

body {
	background-color:#ff4080;
    background-image:url("obp.png");
    background-size:100% auto;
    background-attachment: fixed;
    background-position:center;
	margin:20px;
	font-family:$regularfont;
    height:100%;
}
@media (max-aspect-ratio:5184/3456) {
    body {
        background-size:auto 100%;
    }
}
#globalWrapper {
	background-color:rgba(255,255,255,1);
	padding:20px;
	margin-top:80px;
	position:relative;
    box-shadow:0px 1px 3px -1px rgba(0,0,0,0.4);
}

#column-one h2{ 
	display:none;
}

#column-content {
	margin-bottom:50px;
}
a{
    text-decoration:none;
    &:hover{
        text-decoration:underline;
    }
}

#toc {
    border:1px solid #eee;
    background-color:#fafafa;
    display:table;
    padding:10px;
    position:relative;
    margin-top:20px;
    .toctoggle {
        position:absolute;
        top:11px;
        right:8px;
        a {
            text-decoration:none;
        }
    }
    h2 {
        font-family:$regularfont;
        margin:0;border:0;font-size:18px;
        padding-right:60px; // to account for the hide link
    }
    ul {
        margin-left:25px;
    }
}


#bodyContent {
    margin-bottom:20px;
}

#catlinks { //meow
    padding:10px;
    margin-top:30px;
    border:1px solid #eee;
    background-color:#fafafa;
}

h1,h2,h3,h4 {
    font-family:$titlefont;
    font-weight:700;
}
h1 {
    border-bottom: 1px solid #eee;
	font-size:40px;
}
h2 {
    border-bottom: 1px solid #eee;
	font-size:30px;
}
h3 {
	font-size:25px;
    xxxmargin:20px 0 5px 0;
}
h4 {
	font-size:20px;
    xxxmargin:20px 0 5px 0;
}

.mw-editsection {
    font-family:$regularfont;
    a {
        text-decoration:none;
    }
}

#toolbox {
    position:absolute;
    top:2px;
    right:2px;
    display:block;
    width:30px;height:30px;
    text-align:center;
    line-height:30px;
    font-size:20px;
    font-weight:bold;
    text-decoration:none;
    background-color:rgb( 40,160,255);
    color:white;
    z-index:420;
}

#tools {
    display:none;
    position:absolute;
    right:2px;
    top:2px;
    border-right:30px solid rgba(40,160,255,0.5);
    white-space:nowrap;
    background-color:rgba(40,160,255,0.8);
    text-align:right;
    box-shadow:0px 1px 3px -1px rgba(0,0,0,0.4);
    padding:0;margin:0;list-style:none;
    ul,li {
        padding:0;margin:0;list-style:none;
    }
    a {
        font-size:14px;
        color:white;
        display:block;
        padding:0px 10px 0px 30px;
        line-height:30px;
        text-decoration:none;
        &:hover {
            background-color:rgba(40,160,255,0.5);
        }
    }
}

#toolbox:hover~#tools,#tools:hover{
    display: block;
}

$topmenufont: $regularfont;
$topmenufontsize:16px;
$topmenuheight: $topmenufontsize + 10px;

.portlet#p-personal {
    font-family:$topmenufont;
    font-size:$topmenufontsize;
    line-height:$topmenuheight;
	position:absolute;
	top:-80px;left:-20px;right:-20px;
	background-color:rgba(0,0,0,0.8);
	color:white;
	text-align:right;
    ul,li,div {
        display:inline;padding:0;margin:0;list-style:none;
    }
    h3 {
        display:none;
    }
    a {
        color:white;text-decoration:none;padding:2px 5px 2px 0;
    }
}

.portlet#p-navigation {
    font-family:$topmenufont;
    font-size:$topmenufontsize;
    line-height:$topmenuheight;
    position:absolute;
	top:-80px;left:-20px;
	background-color:transparent;
	color:white;
    ul,li,div {
        display:inline;padding:0;margin:0;list-style:none;
    }
    h3 {
        display:none;
    }
    a {
        color:white;text-decoration:none;padding:2px 0 2px 5px;
    }
}

$pageactionfont: $regularfont;
$pageactionfontsize: 20px;
$pageactionheight: $pageactionfontsize + 10px;
.portlet#p-cactions{
    font-family:$pageactionfont;
    font-size:$pageactionfontsize;
    line-height:$pageactionheight;
	position:absolute;
	top:-$pageactionheight;left:4px;
	white-space:nowrap;
    ul,li,div {
        display:inline;padding:0;margin:0;list-style:none;
    }
    h3 {
        display:none;
    }
    a {
        color:rgba(255,255,255,0.7);
        height:$pageactionheight;line-height:$pageactionheight;
        display:inline-block;
        text-decoration:none;
        padding:0px 3px;
        &:hover {
            color:rgba(255,255,255,0.9);
        }
    }
    .selected a {
        color:rgba(255,255,255,1);
        font-weight:700;
    }
    #ca-nstab-main, #ca-talk, #ca-nstab-special {
        a {
            background-color:rgba(221,221,221,0.9);
            padding: 0px 6px;
            color:rgba(0,0,0,0.8);
            &:hover {
                background-color:rgba(238,238,238,0.9);
                color:rgba(0,0,0,0.9);
            }
        }
        &.selected a {
            background-color:rgba(255,255,255,0.9);
            color:rgba(0,0,0,1);
            &:hover {
                background-color:rgba(255,255,255,0.9);
            }
        }
    }

}

.portlet#p-search {
    position:absolute;right:20px;top:-40px;
    h3{
        display:none;
    }

}

.portlet#p-tb {
	position:absolute;
	bottom:28px;right:20px;
	text-align:right;
	font-size:14px;
    h3 {
        display:none;
    }
    ul, li {
        margin:0;padding:0;list-style:none;display:inline;
    }
    li:after {
        content:" - ";
    }
    li:last-child:after {
        content:"";
    }
    a{
        text-decoration:none;
    }
}

#footer {
	position:absolute; left:0;right:0; bottom:-80px;
    color:rgba(255,255,255,0.7);
    text-align:center;
    * {
        display:inline;font-size:13px;padding:0;margin:0;list-style:none;
    }
    li#copyright {
        display:block;
    }
    a {
        color:rgba(255,255,255,0.9);
        text-decoration:none;
        &:hover {
          color:rgba(255,255,255,1);
        }
    }
    img,#viewcount {
      display:none;
    }
}

#lastmod {
	position:absolute;
	right:20px; top:-85px;;
	color:#aaa;
    font-style:italic;
}
