@charset "UTF-8";

$titlefont: "Jockey One",Arial,sans-serif;
$regularfont: "Archivo Narrow",Arial,sans-serif;
$bodytextsize: 16px;
$mainbgcolour: rgba(255,255,255,0.95);
$linecolour: rgba(1,1,1,0.05);
$segmentbg: rgba(1,1,1,0.02);

@mixin pagewidth() {
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
}

@keyframes slidedown {
    from {max-height:0;}
    to {max-height:1000px}
}

body {
    min-width:245px;
	background-color:#ff5080;
   
    background-image:url("bg.jpg");
    background-size:100% auto;
    background-attachment: fixed;
    background-position:center;
    font-size: $bodytextsize;
	margin:20px;
	font-family:$regularfont;
    height:100%;
}
@media (max-aspect-ratio:16/9) {
    body {
        background-size:auto 100%;
    }
}
#globalWrapper {
    @include pagewidth();
	position:relative;
    margin-top:50px;
}

#column-one h2{
	display:none;
}

#column-content {
    clear:both;
    background-color: $mainbgcolour;
    padding:20px;
    box-shadow:0 1px 3px -1px rgba(0,0,0,0.4);

}

#content {
    overflow-x:auto;
    padding-bottom:30px;
    button, input[type=submit], input[type=button] {
        margin: 10px 0;
    }
    * {
        max-width:100%;
    }
	img {
		height:auto;
	}
}

a{
    text-decoration:none;
    &:hover{
        text-decoration:underline;
    }
    img {
        border:none; // For IE<=10 which apply one by default
    }
}


#bodyContent {

    margin-bottom:20px;

    // this.. yeah idk
    #siteSub,#contentSub,#contentSub2 {
        font-size:90%;
        font-style:italic;
        margin-bottom: 10px;
        text-align:center;
    }

    #siteSub {
        color:rgba(0,0,0,0.5);
        position:relative;
        top:-20px;
        &:before, &:after {
            content: " - ";
        }
    }

    // not really convinced about this one either
    .usermessage {
        margin-top:20px;
        margin-bottom:10px;
        padding:5px 10px;
        display:block;
        clear:both;
        background-color: #ffd080;
        border: 1px solid #ffb133;
    }

    ol, ul {
        margin:5px 0 5px 30px;
        padding:0 0 0 0;
        li {
            margin-top:5px;
            margin-bottom:5px;
        }
    }
	
	.tleft,.floatleft{
		float:left;
		clear:left;
		margin-left:5px;
	}	
	.tright,.floatright {
		float:right;
		clear:right;
		margin-left:5px;
	}

}

table.wikitable {
	border:1px solid $linecolour;
	background-color: $segmentbg;
	th,td {
		border:1px solid $linecolour!important;
	} 
	th {
		background-color: rgba(0,0,0,0.0420)!important;
	}
}


#filetoc { // sigh
	margin:0 0 10px 0!important;
	padding: 2px 5px;
	li {
		display:inline-block;
		margin:5px 15px;
		padding:0;
	}
	border:1px solid $linecolour!important;
	background-color: $segmentbg!important;
}

#toc {
    border:1px solid $linecolour;
    background-color:$segmentbg;
    display:table;
    padding:10px;
    position:relative;
    margin-top:20px;
    .toctoggle {
        position:absolute;
        top:11px;
        right:8px;
        a {
            text-decoration:none;
        }
    }
    h2 {
        font-family:$regularfont;
        margin:0;border:0;font-size:18px;
        padding-right:60px; // to account for the hide link
        line-height:normal;
    }
    ul {
        margin:0!important;
        list-style:none;
        padding-left:10px!important;
    }
    ul ul {
        margin:0!important;
        margin-bottom:5px!important;
    }
    ul ul ul {
        margin-bottom:0!important;
    }
    .tocnumber:after{
        content:".";
    }
}



#catlinks { //meow
    > div > a {
        display:inline-block;
        margin-left:-20px;
    }
    padding:10px 10px 10px 30px;
    margin-top:30px;
    border:1px solid $linecolour;
    background-color:$segmentbg;
    ul {
        margin:0;
    }
    li {
        border: 0;
        padding:0 1px;
        margin:0!important;
        line-height:22px;
        display:inline;
        &:after {
            padding-left: 2px;
            content: " ★ ";
            color: rgba(0,0,0,0.25);
        }
        &:last-child:after {
          padding:0;content:"";
        }
    }
}

.main-heading-action {
    font-weight:normal;
    font-size:80%;
}
.main-heading-whole-prefix {
    display:inline-block;
    margin-right: 8px;
}

.main-heading-chain-separator {
    display:inline-block;
    margin-left:8px;
    margin-right:8px;
}

h1,h2,h3,h4 {
    font-family:$titlefont;
    font-weight:700;
}
h1 {
	font-size:50px;
    line-height:50px;
    text-align:center;
}
@media (max-width:500px) {
    h1 {
        font-size:10vw;
        line-height:10vw;
    }
}
@media (max-width:300px) {
    h1 {
        font-size:30px;
        line-height:30px;
    }
}
h2 {
    border-bottom: 1px solid $linecolour;
	overflow: hidden;
    padding-bottom:6px;
	font-size:30px;
    line-height:30px;
    margin-top: 25px;
    margin-bottom: 20px;
}
h3 {
	font-size:25px;
    line-height:25px;
    margin-top: 25px;
    margin-bottom: 18px;
}
h4 {
	font-size:20px;
    line-height:20px;
    margin-top: 25px;
    margin-bottom: 18px;
}

textarea#wpTextbox1 {
    width:100%;
    box-sizing:border-box;
}

textarea {
    border: 1px solid rgba(0,0,0,0.2);
    background-color:rgba(255,255,255,0.8);
    padding: 5px;
}

input,select,button {
    font-family:$regularfont;
    font-size:16px;
}

button, input[type=submit], input[type=button] {
    background-color:rgba(0,0,0,0.8);
    color:white;
    border:none;
    font-family:$titlefont;
}

fieldset {
    border: 1px solid rgba(1,1,1,0.05);
    padding: 10px 20px;
    margin-top:10px;
    margin-bottom:20px;
    legend {
        font-weight:bold;
        font-size:110%;
    }
}

hr {
    border:0;
    border-bottom:  1px solid rgba(1,1,1,0.05);
    margin: 40px 0;
}


.mw-ui-container {
    display:table;
    margin-left:auto;
    margin-right:auto;
}

.mw-editsection {
    font-family:$regularfont;
    a {
        text-decoration:none;
    }
}

.mw-warning-with-logexcerpt { // sigh
    border:1px solid pink!important;
    background-color: #ffe6ea !important;
    padding: 5px!important;
    ul {
        margin-bottom:10px!important;
    }
    margin-bottom:10px!important;
}

ul#pagehistory {
    li {
        padding:2px 4px;
        margin: 5px 0;
    }
    margin: 10px 0!important; padding: 0; list-style:none;
}

ul#preftoc {
    margin:0;padding:0;
    li {
        display:inline-block;
        margin:0 20px 0 0; padding:0;
        &.selected {
            font-weight:bold;
        }
    }
}

@mixin toolstylin()
{
    white-space:nowrap;
    background-color:rgba(40,160,255,0.8);
    text-align:right;
    box-shadow:0 1px 3px -1px rgba(0,0,0,0.4);
    padding:0;margin:0;list-style:none;
    ul,li {
        padding:0;margin:0;list-style:none;
    }
    a {
        font-size:14px;
        color:white;
        display:block;
        line-height:30px;
        text-decoration:none;
        &:hover {
            background-color:rgba(40,160,255,0.5);
        }
    }
    font-family:$regularfont;
    position:absolute;
    display:none;
}

@mixin toolstylinright()
{
    @include toolstylin();
    border-right:30px solid rgba(40,160,255,0.5);
    text-align: right;
    a {
        padding:0 10px 0 30px;
    }
}

@mixin toolstylinleft()
{
    @include toolstylin();
    border-left:30px solid rgba(40,160,255,0.5);
    text-align:left;
    a {
        padding:0 30px 0 10px;
    }
}

@mixin showmenu ()
{
    display: block;
    overflow:hidden;
}

@mixin showmenuanimate()
{
    animation-name: slidedown;
    animation-duration: 0.5s;
	@include showmenu();
}

.portlet#p-tb {

    position:relative;
    float:right;
    top:-10px;right:-10px;

    h3 {
        font-family:$regularfont;
        position:absolute;
        right:0;top:0;
        display:block;
        width:30px;height:30px;
        text-align:center;
        line-height:30px;
        font-size:0;
        font-weight:bold;
        text-decoration:none;
        background-color:rgb( 40,160,255);
        color:white;
        z-index:1000;
        margin:0;padding:0;
        cursor:default;
        background-image:url("icons/tools.png");
        background-position: Center center;
        background-size: 19px auto;
        background-repeat:no-repeat;
    }

    #tools {
        z-index:999;
        right:0; top:0;
        @include toolstylinright();
        .feedlink {
            background-position: 10px center;
        }
    }

    h3:hover~.pBody #tools{
        @include showmenuanimate();
    }

    .pBody #tools:hover{
        @include showmenu();
    }

}

$topmenufont: $titlefont;
$topmenufontsize:16px;
$topmenuheight: $topmenufontsize + 10px;

#topbar {
    font-family:$topmenufont;
    font-size:$topmenufontsize;
    line-height:$topmenuheight;
    margin: -50px -20px 24px -20px;
    background-color:rgba(0,0,0,0.8);
    color:white;
    &:after{
        display:block;clear:both;content:"";
    }
}

// aint no sidebar anymore son
.generated-sidebar, .portlet#p-personal {
    display:inline;
    .pseudo-header {
        display:block;
    }
    h3 {
        cursor:default;
    }
    h3,.pseudo-header {
        font-size:$topmenufontsize;
        line-height:$topmenuheight;
        padding: 0 5px 1px 5px;
        font-weight:normal;
        &:hover {
            background-color:rgba(40,160,255,0.8);
            color:white;
        }
        margin:0 0 0 0;
    }
    .single-item-header {
        display:none;
    }
    &:hover h3, &:hover .pseudo-header {
        background-color:rgba(40,160,255,0.8);
        color:white;
    }
    .pBody {
        z-index:420;
    }
    .pseudo-header:hover~.pBody,h3:hover~.pBody{
        @include showmenuanimate();
    }
    .pBody:hover{
        @include showmenu();
    }
    a {
        color:white;
        &:hover {
            text-decoration :none;
        }
    }
}

#custom-sidebars {

}

.generated-sidebar {
    float:left;
    .pBody {
        @include toolstylinleft();
    }
}


.portlet#p-personal {
    background-color:rgba(255,255,255,0.15);
    float:right;
    .pBody {
        @include toolstylinright();
        right:-20px;
    }
    .pseudo-header {
        #pt-userpage,#pt-anonuserpage {
            &:before {
                display:inline-block;
                width:20px;
                background-image:url("icons/user.png");
                background-size: 15px auto;
                background-position:center;
                background-repeat:no-repeat;
                content: "_";
                color:rgba(255,255,255,0);
                margin-right:3px;
            }
        }
    }
}

#headbar{
    position:relative;
}

// hopefully this won't get used very often bc i didnt spend much time on it
#siteNotice {
    margin-top:-20px;
    margin-bottom:20px;
    padding:5px 10px;
    display:block;
    clear:both;
    background-color:#FFC0CB;
    border: 1px solid #ffa5ac;
}

.portlet#p-search {
    margin-top:17px;
    float:right;
    position:relative;
    h3{
        display:none;
    }
    input{

    }
    #power-search-densetsu {
        right:0;top:-16px;
        position:absolute;
        color:black;display:block;font-size:12px;
        text-align:right;
        padding-top:2px;
    }
}

.portlet#p-logo {
    max-width:100%;
    font-family: $titlefont;

    #textonly-wiki-name {
        font-size: 70px;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    }

    a{
        color:white;
        &:hover {
            text-decoration:none;
        }
    }

    img {
        max-width:100%;
        max-height:100px;
    }
}

$pageactionfont: $regularfont;
$pageactionfontsize: 20px;
$pageactionheight: $pageactionfontsize + 10px;

.portlet#p-cactions{
    float:left;
    font-family:$pageactionfont;
    font-size:$pageactionfontsize;
    line-height:$pageactionheight;
    position:relative;
    padding-top:17px;
    padding-left:4px;

	white-space:nowrap;
    overflow-x:auto;
    box-sizing: border-box;
    max-width:100%;
    ul,li,div {
        display:inline;padding:0;margin:0;list-style:none;
    }
    li {
        margin-right:4px;
    }
    h3 {
        display:none;
    }
    a {
        color:rgba(255,255,255,0.7);
        height:$pageactionheight;line-height:$pageactionheight;
        display:inline-block;
        text-decoration:none;
        padding:0 3px;
        &:hover {
            color:rgba(255,255,255,0.9);
        }
    }
    .selected a {
        color:rgba(255,255,255,1);
        font-weight:700;
    }
    [id^=ca-nstab], #ca-talk {
        a {
            background-color:rgba(221,221,221,0.9);
            padding: 0 6px;
            color:rgba(0,0,0,0.8);
            &:hover {
                background-color:rgba(238,238,238,0.9);
                color:rgba(0,0,0,0.9);
            }
        }
        &.selected a {
            background-color:rgba(255,255,255,0.9);
            color:rgba(0,0,0,1);
            &:hover {
                background-color:rgba(255,255,255,0.9);
            }
        }
    }

}

.portlet#p-lang {
    float:left;
    padding:0;
	h3,li,ul,div {
        display:inline;padding:0;margin:0;list-style:none;

    }
    h3 {
        font-family:$regularfont;
        font-size:$bodytextsize;
        display:none;
    }
    li {
        padding-right:5px;
    }
}

#lastmod,#viewcount {
    float:right;
    clear:right;
    font-size:13px;
    color:#aaa;
    font-style:italic;
    text-shadow:none;
    padding:0;
}

#post-body-stuff {
    clear:both;
    padding-bottom:10px;
    &:after{
        clear:both;
        content:"";
        display:block;
    }
}

#footer {
	@include pagewidth();
    padding: 30px 0 10px 0;
    color:rgba(255,255,255,0.7);
    text-align:center;
    li,ul {
        display:inline-block;font-size:13px;padding:0;margin:0;list-style:none;
    }
    li#copyright,li#self-aggrandisement {
        display:block;
    }
    a {
        color:rgba(255,255,255,0.9);
        text-decoration:none;
        &:hover {
          color:rgba(255,255,255,1);
        }
    }
}

// for wikieditor extension
.wikiEditor-ui, .wikiEditor-ui-controls, .wikiEditor-ui-buttons {
    background-color:transparent!important;
}
.wikiEditor-ui {
    overflow:hidden;
}
.wikiEditor-ui-tabs div a {
    padding: 0 0.4em!important; // basically a hack so it still looks ok at min supported mobile res
    // .. IF you dont enable the extra buttons
}

// Semantic MediaWiki extension's factbox
// This uses tables for everything and the tables have no classes and it is awful. idk i tried
.smwb-factbox, .smwb-ifactbox {

    border:none!important;

    margin-bottom: 10px;
    padding-bottom: 10px;
    border-collapse: collapse;

    tr {
        border:none!important;
        background-color:transparent!important;
    }
    tr.smwb-propvalue {
        background-color: $segmentbg!important;
        th,td {
            border: 1px solid $linecolour!important;
            padding: 5px 10px!important;
        }
    }

    td,th {
        background-color:transparent!important;
        border:none!important;
    }

    .smwb-title {
        font-family: $titlefont;
    }

}

// comments ext
.comments-body {
    p {
        margin:0;
    }
    #allcomments {

    }
    .c-spy {
        float:right;
        margin-top: 5px;
    }
    .c-item.full {
        width:auto;
    }
    .c-item.reply {
        width:auto;
        margin-top: -5px;
    }
    .c-item {
        clear: both;
        border:0;
        border-left: 10px solid $segmentbg;
        background-color: $segmentbg;
        padding: 10px;
        .c-avatar {
            position:relative;
            float:left;
            img {
                margin-right:10px;
            }
        }
        .c-container {
            margin-left: 0!important;
        }
        .f-message,.r-message {
            width: auto;
        }
        .c-actions {
            margin:0;
        }
        .c-user {
            p,div{
                display:inline-block;
            }
        }
    }
    .c-user a {
        font-size: 15px;
    }
    .c-user-level {
        margin-right: 2px;
    }
    .c-time, .c-actions, .c-spy {
        font-size: 13px;
    }
    .cleared {
        clear:both;
    }
    .c-order {
        padding: 0;
    }
    form {
        .c-form-title {
            float:left;
        }
        .c-form-reply-to {
            float:right;
        }
        .c-form-message {
            width:auto;
            clear:both;
        }

        margin-left:auto;
        margin-right:auto;
        padding: 0;

        textarea#comment {
            clear:both;
            display:block;
            width:100%;
            box-sizing: border-box;
        }
        .c-form-button {
            text-align:center;
        }
        p {
            margin:0;
        }
    }
}